@import '../../global.css';

.fm-overview h2 {
  padding: 48px 0px 32px;
  font-size: 1.6em;
  font-weight: var(--font-weight-bold);
}

.fm-overview-cards {
  padding-bottom: 64px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 600px) {
  .fm-overview-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .fm-overview-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}