/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* Global Variables */
:root {
  --color-lime-green: hsl(163, 72%, 41%);
  --color-bright-red: hsl(356, 69%, 56%);
  --color-facebook-blue: hsl(208, 92%, 53%);
  --color-twitter-blue: hsl(203, 89%, 53%);
  --color-youtube-red: hsl(348, 97%, 39%);
  --color-instagram-gradient-start: hsl(37, 97%, 70%);
  --color-instagram-gradient-end: hsl(329, 70%, 58%);

  --font-family-normal: 'Inter', sans-serif;
  --font-size-normal: 14px;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --time-transition: 0.25s;
}

/* Light Mode Variables */
main {
  --color-bg: hsl(0, 0%, 100%);
  --color-top-bg: hsl(225, 100%, 98%);
  --color-card-bg: hsl(227, 47%, 96%);
  --color-card-bg-hover: hsl(227, 40%, 92%);
  --color-text: hsl(228, 12%, 44%);
  --color-text-bright: hsl(230, 17%, 14%);
}

/* Dark Mode Variables */
main.dark {
  --color-bg: hsl(230, 17%, 14%);
  --color-top-bg: hsl(232, 19%, 15%);
  --color-card-bg: hsl(229, 27%, 20%);
  --color-card-bg-hover: hsl(229, 27%, 30%);
  --color-text: hsl(228, 34%, 66%);
  --color-text-bright: hsl(0, 0%, 100%);
}
